@import 'tailwindcss';
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

* {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}
@keyframes slowPulse {
  0% {
    transform: scale(1);
    opacity: 0.95;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.95;
  }
}

.animate-slow-pulse {
  animation: slowPulse 2.8s ease-in-out infinite;
}
